html,
body {
  height: 100%;
  margin: 0;
}

.btn:focus,
.btn:focus-visible {
  box-shadow: none;
}

.theme-toggle-light:hover {
  background-color: #92bdfe;
}

.theme-toggle-dark:hover {
  background-color: #9c9d9d;
}

#page-content {
  padding-bottom: 48px;
}

.icon-button:hover {
  cursor: pointer;
  fill: red;
}

.icon-button {
  fill: rgb(116, 72, 72);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}