{% extends "base.html" %}
{% block content %}
<p>Hi there,</p>
<p>The aurora alert level is currently "{{ alert_level }}".</p>
<p>The current weather at your subscribed locations is:</p>
<ul>
    {% for location in locations %}
    <li>
        {{ location.name }} - {{ location.weather_description | capitalize }} - {{ location.cloud_cover }}% cloud cover
    </li>
    {% endfor %}
</ul>
{% endblock content %}
{% block footer %}
<span>
    Stop receiving these emails? <a
        href="{{ 'http://aurora-alert.home/unsubscribe?user_id=' ~ user_id ~ '&email=' ~ email}}"">Unsubscribe</a>
</span>
{% endblock footer %}