{% extends "base.html" %}
{% block content %}
<p>Hi there,</p>
<p>Thank you for subscribing to Aurora Alert. You will receive an email alert whenever the aurora alert level is
    "{{ alert_threshold }}"* or above.</p>
<p>You've also chosen the following locations to get a real-time weather report at the time of an aurora alert:</p>
<ul>
    {% for location in locations | sort(attribute="name") %}
    <li>
        {{ location.name }}
    </li>
    {% endfor %}
</ul>
<p></p>
<p>In order to proceed, you will first need to verify that you are the rightful owner of this email account by using the
    following link to <a href="{{ 'http://192.168.1.1:8080/verify?user_id=' ~ user_id ~ '&email=' ~ email}}">activate
        your
        account</a>.</p>
<p>*As a reminder, the aurora alert levels are those used by <a
        href="https://aurorawatch.lancs.ac.uk/alerts">AuroraWatch UK</a>, and have the following definitions:</p>
<table>
    <tr>
        <th>Colour</th>
        <th>Description</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>Green</td>
        <td>No significant activity</td>
        <td>Auroras are unlikely to be visible by eye or camera from anywhere in the UK.</td>
    </tr>
    <tr>
        <td>Yellow</td>
        <td>Minor geomagnetic activity</td>
        <td>Aurora may be visible by eye from Scotland and may be visible by camera from Scotland, northern England and
            Northern Ireland.</td>
    </tr>
    <tr>
        <td>Amber</td>
        <td>Possible aurora</td>
        <td>Aurora is likely to be visible by eye from Scotland, northern England and Northern Ireland; possible visible
            from elsewhere in the UK. Photographs of the aurora are likely from anywhere in the UK.</td>
    </tr>
    <tr>
        <td>Red</td>
        <td>Aurora likely</td>
        <td>It is likely that the aurora will be visible by eye and camera from anywhere in the UK.</td>
    </tr>
</table>
<hr>
<p>If, at any point in the future, you wish to unsubscribe from email alerts, you can use the "unsubscribe" link at the
    bottom of every aurora alert, or you can click on <a
        href="{{ 'http://192.168.1.1:8080/unsubscribe?user_id=' ~ user_id ~ '&email=' ~ email}}">this unsubscribe
        link</a>.
</p>
<p></p>
<p>If you weren't expecting this email, or you don't wish to continue and get aurora alerts, please ignore this
    email and your data will be deleted at midnight.</p>
{% endblock content %}